<li class="nav-small-cap">
    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
    <span class="hide-menu">Patients</span>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="{% url "patientInsert" %}" aria-expanded="false">
    <span>
        <i class="fa-solid fa-user-plus fs-4"></i>
    </span>
    <span class="hide-menu">Add Patients</span>
    </a>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="{% url "patientList" %}" aria-expanded="false">
    <span>
        <i class="fa-solid fa-user-pen fs-4"></i>
    </span>
    <span class="hide-menu">Edit and Queue</span>
    </a>
</li>
<li class="nav-small-cap">
    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
    <span class="hide-menu">Patient Queue</span>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="" aria-expanded="false">
    <span>
        <i class="fa-solid fa-clipboard-list fs-4"></i>
    </span>
    <span class="hide-menu">Patient Queue List</span>
    </a>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="" aria-expanded="false">
    <span>
        <i class="fa-solid fa-file-pen fs-4"></i>
    </span>
    <span class="hide-menu">Patient Queue Edit</span>
    </a>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="" aria-expanded="false">
    <span>
        <i class="fa-solid fa-person-circle-check fs-4"></i>
    </span>
    <span class="hide-menu">Completed Consulatations</span>
    </a>
</li>