<li class="nav-small-cap">
    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
    <span class="hide-menu">Patients</span>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="" aria-expanded="false">
    <span>
        <i class="ti ti-layout-dashboard"></i>
    </span>
    <span class="hide-menu">Patients Info</span>
    </a>
</li>
<li class="nav-small-cap">
    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
    <span class="hide-menu">Queue</span>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="" aria-expanded="false">
    <span>
        <i class="ti ti-article"></i>
    </span>
    <span class="hide-menu">Patient Queue Add</span>
    </a>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="" aria-expanded="false">
    <span>
        <i class="ti ti-alert-circle"></i>
    </span>
    <span class="hide-menu">Patient Queue Edit</span>
    </a>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="" aria-expanded="false">
    <span>
        <i class="ti ti-alert-circle"></i>
    </span>
    <span class="hide-menu">Completed Consulatations</span>
    </a>
</li>