<li class="nav-small-cap">
    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
    <span class="hide-menu">Waiting List</span>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="{% url "nurseQueue" %}" aria-expanded="false">
    <span>
        <i class="fa-solid fa-heart-pulse fs-4"></i>
    </span>
    <span class="hide-menu">Record Vital Signs</span>
    </a>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="{% url "readyList" %}" aria-expanded="false">
    <span>
        <i class="fa-solid fa-pen-to-square fs-4"></i>
    </span>
    <span class="hide-menu">Edit Recorded Vital Signs</span>
    </a>
</li>