<li class="nav-small-cap">
    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
    <span class="hide-menu">Prescriptions</span>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="" aria-expanded="false">
    <span>
        <i class="ti ti-layout-dashboard"></i>
    </span>
    <span class="hide-menu">Patient's Prescriptions</span>
    </a>
</li>
<li class="nav-small-cap">
    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
    <span class="hide-menu">Inventory</span>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="" aria-expanded="false">
    <span>
        <i class="fa-solid fa-pills"></i>
    </span>
    <span class="hide-menu">Add Medicines</span>
    </a>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="" aria-expanded="false">
    <span>
        <i class="fa-solid fa-prescription-bottle-medical"></i>
    </span>
    <span class="hide-menu">Edit Medicines</span>
    </a>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="" aria-expanded="false">
    <span>
        <i class="fa-solid fa-capsules"></i>
    </span>
    <span class="hide-menu">Pharmacy Inventory</span>
    </a>
</li>