{% extends "common/base.html" %}

{% block navbar %}
{% include "PharmacistApp/pharmacynav.html" %}
{% endblock navbar %}

{% block content %}

<h5 class="card-title fw-semibold mb-4 text-center">Verify this pat</h5>
<form method ="post", action = "{% url "patientInsert" %}">
    {% csrf_token %}
     
    <button type="submit" class="btn btn-success col-5" value="confirm">Confirm</button>
    <button type="submit" class="btn btn-error col-5" value="deny">Deny</button>
  </form>

{% endblock content %}