{% extends "DoctorApp/diagnosispage.html" %}

{% block diagURL %}
{% url "diagUpdate" diagnosis.id %}
{% endblock diagURL %}

{% block prescriptionField %}
    {% for prescribedmedicine in prescribedmedicines %}
        <div class="mb-5 prescription-field">
            <div class="input-group">
                <label for="" class="input-group-text">Medicine</label>
                <select name="prescription[]" class="form-select" required>
                    <option value="">Select a medicine</option>
                    {% for medicine in medicines %}
                        <option value="{{medicine.id}}"{% if medicine.id == prescribedmedicine.medicine.id %}selected{% endif %}>{{medicine.name}}</option>
                    {% endfor %}
                </select>
                <input type="number" name="quantity[]" class="form-control" required value="{{prescribedmedicine.quantity}}">
                <label for="" class="input-group-text">Unit Example</label>
            </div>
            <label for="" class="form-label">Instruction</label>
            <input type="text" name="instruction[]" class="form-control" required value="{{prescribedmedicine.instruction}}">
        </div>
    {% endfor %}
{% endblock prescriptionField %}

{% block admissionfields %}
<div class="mb-3" id="wardDiv">
    <div class="mb-3">
        <label for="ward" class="form-label">Ward</label>
        <select name="ward" id="ward" class="form-select">
            <option value="">Select a ward</option>
            <option value="">{{admission.admitted_ward.id}}</option>
            {% for ward in wards %}
                <option value="{{ward.id}}" {% if ward.id == admission.admitted_ward.id %}selected{% endif %}>{{ward.ward_name}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="ward" class="form-label">Admission Reason</label>
        <a href=""></a>
        <input type="text" value="{{admission.admission_reason}}" name="admit-reason" class="form-control">
    </div>
</div>
<div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="admitCheck" name = "admitCheck" value = "True" {% if admission %}checked{% endif %}>
    <label class="form-check-label" for="admitCheck">Admit the patient</label>
</div>
{% endblock admissionfields %}

{% if admission %}
    {% block warddisplay %}
    chShipBlock.show();
    {% endblock warddisplay %}
{% endif %}
