{% extends "common/base.html" %}

{% block navbar %}
{% include "DoctorApp/doctornav.html" %}
{% endblock navbar %}

{% block content %}
<form method="post" action="{% block form_action %}{% endblock %}" id="diagform">
    {% csrf_token %}
    <div class="card">
      <div class=" p-3 text-primary text-center bg-light card-title">
          {% block headerText %}Diagnosis page for {{waitingPatient.patient.patient_name}} {% endblock headerText %} 
      </div>
      <div class="card-body">
      <h5 class="card-title">Patient Name: {{waitingPatient.patient.patient_name}}</h5>
      
        <p class="card-text">
            Temperature: {{waitingPatient.temperature}}°F
        </p>
        <p class="card-text">
            Body Weight:  {{waitingPatient.weight}} Kg
        </p>
        <p class="card-text">
            Systolic/Diastolic: {{waitingPatient.systole}}/{{waitingPatient.diastole}} mHg
        </p>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="admitCheck" name = "QueueCheck" value = "True">
            <label class="form-check-label" for="admitCheck">Admit the patient</label>
        </div>
        <div class="mb-3 d-none" id="wardDiv">
            <label for="ward" class="form-label">Ward</label>
            <input type="number" class="form-control" id="ward" name="ward" >
        </div>
      <button type="submit" class="col-12 btn btn-primary">
        {% block btnText %}Diagnose{% endblock btnText %}  
      </button>
      </div>
  </div>
    
</form>
<script>
    var form = $('#diagform'),
    checkbox = $('#admitCheck'),
    chShipBlock = $('#wardDiv');

    chShipBlock.hide();

    checkbox.on('click', function() {
    if($(this).is(':checked')) {
        chShipBlock.show();
        chShipBlock.find('input').attr('required', true);
    } else {
        chShipBlock.hide();
        chShipBlock.find('input').attr('required', false);
    }
    });
</script>
{% endblock content %}
