<li class="nav-small-cap">
    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
    <span class="hide-menu">Home</span>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="{% url "docPatQueue" %}" aria-expanded="false">
    <span>
        <i class="ti ti-layout-dashboard"></i>
    </span>
    <span class="hide-menu">Patient-Queue</span>
    </a>
</li>
<li class="nav-small-cap">
    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
    <span class="hide-menu">Histories</span>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="" aria-expanded="false">
    <span>
        <i class="ti ti-article"></i>
    </span>
    <span class="hide-menu">Diagnossis History</span>
    </a>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="" aria-expanded="false">
    <span>
        <i class="ti ti-alert-circle"></i>
    </span>
    <span class="hide-menu">Prescription History</span>
    </a>
</li>
<li class="sidebar-item">
    <a class="sidebar-link" href="" aria-expanded="false">
    <span>
        <i class="ti ti-alert-circle"></i>
    </span>
    <span class="hide-menu">Admission History</span>
    </a>
</li>